header {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: blue;
    text-decoration: none;
    list-style: none;
    align-items: center;
    text-align: center;
    
}
li{

}

header li a {
    text-align: center;
    color: white;
    text-decoration: none;
}

header li .active {
    color: blue;
    background: white;
    border-radius: 4px;
}